swagger: "2.0"
info:
  title: Arcane Platform API
  description: "Arcane Platform API"
  version: "1.0.0"
host: api.arcane.no
schemes:
  - "https"
x-google-backend:
  address: "${GCP_BACKEND_URL}"
  protocol: h2
paths:
  "/ping":
    get:
      description: "Ping endpoint for checking uptime and connectivity"
      operationId: "ping"
      responses:
        200:
          description: "pong"
          schema:
            type: string
  "/utc":
    get:
      description: "utc endpoint for checking server time"
      operationId: "utc"
      responses:
        200:
          description: "UTC timestamp"
          schema:
            type: string
      security:
        - firebase: [ ]
  "/whoami":
    get:
      description: "Get OAuth2 JWT payload"
      operationId: "whoami"
      responses:
        200:
          description: "Get OAuth2 JWT payload json"
          schema:
            type: string
      security:
        - firebase: [ ]
  "/tnc/{tnc-id}":
    get:
      description: "Check if Terms & Conditions are accepted"
      operationId: "isTncAccepted"
      parameters:
        - name: tnc-id
          in: path
          type: string
          required: true
      responses:
        200:
          description: "Terms & Conditions were accepted"
        404:
          description: "Terms & Conditions were not accepted"
      security:
        - firebase: [ ]
    post:
      description: "Accept Terms & Conditions"
      operationId: "acceptTnc"
      parameters:
        - name: tnc-id
          in: path
          type: string
          required: true
      responses:
        200:
          description: "Terms & Conditions marked as accepted"
      security:
        - firebase: [ ]
  "/tnc/{tnc-id}/email":
    post:
      description: "Send Terms & Conditions in email"
      operationId: "sendTncEmail"
      parameters:
        - name: tnc-id
          in: path
          type: string
          required: true
      responses:
        200:
          description: "Terms & Conditions sent in email"
      security:
        - firebase: [ ]
securityDefinitions:
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/${GCP_PROJECT_ID}"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "${GCP_PROJECT_ID}"